# Default values for paymentservice
#global
name: paymentservice
namespace: paymentservice

replicaCount: 1

image:
  repository: preranamauryaa/microservice-paymentservice
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 50051
  targetPort: 50051

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

terminationGracePeriodSeconds: 5

env:
  - name: PORT
    value: "50051"
  - name: DISABLE_PROFILER
    value: "1"