# Default values for shippingservice
# global
name: shippingservice
namespace: shippingservice

replicaCount: 1

image:
  repository: preranamauryaa/microservice-shippingservice
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 50051
  targetPort: 50051

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

env:
  - name: PORT
    value: "50051"
  - name: DISABLE_PROFILER
    value: "1"

terminationGracePeriodSeconds: 5